body {
    background-color: bisque;
}
#main-heading {
    font-size: 80px;
}

.recipes {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: rgba(76, 92, 238, 0.199);
    border-radius: 25px;
    list-style: none;
    margin: 10px 300px;
}

.recipe-name {
    padding: 25px;
}

.ingredients {
    list-style: circle;
}

img {
    width: 100%;
    height: 400px;
}

.headings {
    font-size: 60px;
    background-color: rgba(171, 10, 192, 0.5);
    text-align: center;
    border-radius: 40px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 25px;
    margin-top: 0px;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
    text-align: center;
    border-style: solid;
    padding: 0px;
}

.steps {
    list-style: decimal;
}